<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>91914151063-ovlcb8a8cd3fdc0g9atmdti9k98lt8di.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.91914151063-ovlcb8a8cd3fdc0g9atmdti9k98lt8di</string>
	<key>API_KEY</key>
	<string>AIzaSyBTAn0aKLiXtjipOG0ytNI6T1PEP0DnkFA</string>
	<key>GCM_SENDER_ID</key>
	<string>91914151063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>tech.cligo.cligo</string>
	<key>PROJECT_ID</key>
	<string>cligo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>cligo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:91914151063:ios:6c453e853141dfff8d35d2</string>
</dict>
</plist>